In [25]:
import pandas as pd
filename = "data_final_filled.csv"
df = pd.read_csv(filename)
df.head()

,ID,Condition,Age,Gender,Nationality,Education,Robot interaction,Robot movies,Robot control,Robot program,...,R2 yellow itchy zone all correctsort,R2 red prevention zone all correctsort,R2 green prevention zone all correctsort,R2 yellow prevention zone all correctsort,R2 red robot zone all correctsort,R2 green robot zone all correctsort,R2 yellow robot zone all correctsort,R2 red cleanup zone all correctsort,R2 green cleanup zone all correctsort,R2 yellow cleanup zone all correctsort
0,1,visual,29,Female,Danish,MSc,05-Feb,10+,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,visual,25,Male,Hungarian,BSc,0,05-Feb,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,written,23,Male,Danish,HighSchool,10+,10+,05-Feb,0,...,0,0,0,0,0,0,0,0,0,0
3,4,written,22,Male,Danish,HighSchool,10+,10+,10+,10-May,...,0,0,0,0,0,0,0,0,0,0
4,5,written,25,Female,Danish,HighSchool,0,05-Feb,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df2 = df[["Gender", "Nationality","Condition", "Age"]]
df2["Gender"].describe()

count       40
unique       2
top       Male
freq        26
Name: Gender, dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Columns: 169 entries, ID to R2 yellow cleanup zone all correctsort
dtypes: float64(161), object(8)
memory usage: 1.3+ MB

In [10]:
# df.dropna(x) # drops rows where there are x number of values
df.describe()

,ID,Age,Mental rating,Physical rating,Temporal rating,Performance rating,Effort rating,Frustration rating,Mental tally,Physical tally,...,R2 yellow itchy zone all correctsort,R2 red prevention zone all correctsort,R2 green prevention zone all correctsort,R2 yellow prevention zone all correctsort,R2 red robot zone all correctsort,R2 green robot zone all correctsort,R2 yellow robot zone all correctsort,R2 red cleanup zone all correctsort,R2 green cleanup zone all correctsort,R2 yellow cleanup zone all correctsort
count,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.00000,40.000000,40.000000,40.000000,...,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.00000,40.000000,40.000000
mean,20.500000,28.100000,46.000000,31.625000,44.000000,37.000000,47.00000,42.125000,3.425000,1.025000,...,0.125000,5.475000,10.400000,9.275000,1.450000,2.350000,2.675000,0.47500,1.200000,0.650000
std,11.690452,8.319887,24.368959,24.609449,24.316292,24.067214,22.92127,28.236354,1.583367,1.329883,...,0.563301,5.944131,9.325455,8.527444,2.438474,3.230861,3.668211,1.03744,2.232625,1.406031
min,1.000000,21.000000,5.000000,5.000000,5.000000,5.000000,10.00000,5.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,10.750000,24.000000,23.750000,10.000000,25.000000,20.000000,30.00000,15.000000,2.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,20.500000,26.000000,45.000000,22.500000,40.000000,27.500000,45.00000,32.500000,4.000000,1.000000,...,0.000000,3.000000,10.500000,9.000000,0.000000,1.500000,2.000000,0.00000,0.000000,0.000000
75%,30.250000,29.000000,65.000000,50.000000,65.000000,51.250000,65.00000,65.000000,5.000000,1.250000,...,0.000000,11.000000,17.250000,17.000000,2.000000,3.000000,5.000000,0.25000,1.250000,0.250000
max,40.000000,63.000000,95.000000,85.000000,95.000000,100.000000,100.00000,100.000000,5.000000,4.000000,...,3.000000,18.000000,26.000000,23.000000,13.000000,17.000000,16.000000,5.00000,11.000000,5.000000

In [26]:
for column in df.columns: print(column)

ID
Condition
Age
Gender
Nationality
Education
Robot interaction
Robot movies
Robot control
Robot program
Mental rating
Physical rating
Temporal rating
Performance rating
Effort rating
Frustration rating
Mental tally
Physical tally
Temporal tally
Performance tally
Effort tally
Frustration tally
Mental weight
Physical weight
Temporal weight
Performance weight
Effort weight
Frustration weight
NASA overall
T1 Dependable
T1 Reliable
T1 - R - Unresponsive
T1 Predictable
T1 ActConsistently
T1 FunctionSuccessfully
T1 - R - Malfunction
T1 - R - HaveErrors
T1 ProvideFeedback
T1 MeetTheNeeds
T1 ProvideAppropriateInformation
T1 CommunicateWithPeople
T1 Perform exactly as instructed
T1 Follow Directions
T2 Dependable
T2 Reliable
T2 - R - Unresponsive
T2 Predictable
T2 ActConsistently
T2 FunctionSuccessfully
T2 - R - Malfunction
T2 - R - HaveErrors
T2 ProvideFeedback
T2 MeetTheNeeds
T2 ProvideAppropriateInformation
T2 CommunicateWithPeople
T2 Perform exactly as instructed
T2 Follow Directions
G1 UserScore
G1 RobotScore
G1 UserMistake
G1 RobotMistake
G1 Missed
G1 Total
G2 UserScore
G2 RobotScore
G2 UserMistake
G2 RobotMistake
G2 Missed
G2 Total
Godspeed Incompetent
 Godspeed Mechanical
Godspeed Irresponsible
Godspeed  Unconscious
Godspeed Foolish
Godspeed Unpleasant
Godspeed  Ignorant
Godspeed  Artificial
Godspeed Unintelligent
Godspeed Inert
Godspeed Anxious
Godspeed Happy
Godspeed Quiescent
Godspeed Bored
Godspeed Agitated
Godspeed Angry
R1 Missed Yellow
R1 Missed Red
R1 Missed Green
R1 User Correct Yellow
R1 User Correct Red
R1 User Correct Green
R1 Robot Correct Yellow
R1 Robot Correct Red
R1 Robot Correct Green
R1 User Incorrect Yellow
R1 User Incorrect Red
R1 User Incorrect Green
R1 Robot Incorrect Yellow
R1 Robot Incorrect Red
R1 Robot Incorrect Green
R1 total color mistake prevented
R1 total grasp mistake prevented
R2 Missed Yellow
R2 Missed Red
R2 Missed Green
R2 User Correct Yellow
R2 User Correct Red
R2 User Correct Green
R2 Robot Correct Yellow
R2 Robot Correct Red
R2 Robot Correct Green
R2 User Incorrect Yellow
R2 User Incorrect Red
R2 User Incorrect Green
R2 Robot Incorrect Yellow
R2 Robot Incorrect Red
R2 Robot Incorrect Green
R2 total color mistake prevented
R2 total grasp mistake prevented
R1 red itchy zone mistake correctsort
R1 green itchy zone mistake correctsort
R1 red prevention zone mistake correctsort
R1 green prevention zone mistake correctsort
R1 red robot zone mistake correctsort
R1 green robot zone mistake correctsort
R1 red cleanup zone mistake correctsort
R1 green cleanup zone mistake correctsort
R2 red itchy zone mistake correctsort
R2 green itchy zone mistake correctsort
R2 red prevention zone mistake correctsort
R2 green prevention zone mistake correctsort
R2 red robot zone mistake correctsort
R2 green robot zone mistake correctsort
R2 red cleanup zone mistake correctsort
R2 green cleanup zone mistake correctsort
R1 avg dist prevent red
R1 avg dist prevent green
R2 avg dist prevent red
R2 avg dist prevent green
R1 total can avg distance green
R1 total can avg distance yellow
R1 total can avg distance red
R2 total can avg distance green
R2 total can avg distance yellow
R2 total can avg distance red
R1 red itchy zone all correctsort
R1 green itchy zone all correctsort
R1 yellow itchy zone all correctsort
R1 red prevention zone all correctsort
R1 green prevention zone all correctsort
R1 yellow prevention zone all correctsort
R1 red robot zone all correctsort
R1 green robot zone all correctsort
R1 yellow robot zone all correctsort
R1 red cleanup zone all correctsort
R1 green cleanup zone all correctsort
R1 yellow cleanup zone all correctsort
R2 red itchy zone all correctsort
R2 green itchy zone all correctsort
R2 yellow itchy zone all correctsort
R2 red prevention zone all correctsort
R2 green prevention zone all correctsort
R2 yellow prevention zone all correctsort
R2 red robot zone all correctsort
R2 green robot zone all correctsort
R2 yellow robot zone all correctsort
R2 red cleanup zone all correctsort
R2 green cleanup zone all correctsort
R2 yellow cleanup zone all correctsort

In [16]:
dfMale = df[df["Gender"] == "Male"]
dfMale.describe()

,ID,Age,Mental rating,Physical rating,Temporal rating,Performance rating,Effort rating,Frustration rating,Mental tally,Physical tally,...,R2 yellow itchy zone all correctsort,R2 red prevention zone all correctsort,R2 green prevention zone all correctsort,R2 yellow prevention zone all correctsort,R2 red robot zone all correctsort,R2 green robot zone all correctsort,R2 yellow robot zone all correctsort,R2 red cleanup zone all correctsort,R2 green cleanup zone all correctsort,R2 yellow cleanup zone all correctsort
count,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.00000,...,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000
mean,19.653846,26.730769,47.692308,31.730769,44.807692,36.153846,48.461538,44.038462,3.307692,1.00000,...,0.076923,5.538462,10.115385,9.730769,1.269231,2.000000,2.576923,0.538462,1.384615,0.461538
std,11.164022,4.609188,25.777151,24.205054,25.941502,22.149839,21.576340,28.072023,1.543223,1.32665,...,0.392232,6.107247,9.008116,8.548954,1.710151,2.315167,3.372513,1.207668,2.669486,1.103839
min,2.000000,21.000000,5.000000,5.000000,10.000000,5.000000,10.000000,10.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.250000,23.250000,25.000000,11.250000,16.250000,20.000000,31.250000,16.250000,2.250000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,18.500000,26.000000,50.000000,20.000000,45.000000,30.000000,45.000000,40.000000,4.000000,0.50000,...,0.000000,2.000000,13.000000,10.000000,0.000000,1.500000,1.500000,0.000000,0.000000,0.000000
75%,28.500000,28.750000,65.000000,50.000000,65.000000,50.000000,65.000000,65.000000,4.000000,1.75000,...,0.000000,11.750000,16.750000,17.000000,2.000000,3.000000,5.000000,0.000000,1.000000,0.000000
max,39.000000,41.000000,95.000000,80.000000,95.000000,85.000000,95.000000,100.000000,5.000000,4.00000,...,2.000000,18.000000,26.000000,23.000000,6.000000,8.000000,11.000000,5.000000,11.000000,5.000000

In [21]:
conditions = ["visual", "written", "all", "control"]
dfVisual = df[df["Condition"] == "visual"]
dfVisual["G2 Total"].describe()

count    10.000000
mean     47.900000
std       5.801341
min      38.000000
25%      45.250000
50%      47.000000
75%      52.750000
max      56.000000
Name: G2 Total, dtype: float64

In [27]:
df.groupby("Condition").mean()

,ID,Age,Mental rating,Physical rating,Temporal rating,Performance rating,Effort rating,Frustration rating,Mental tally,Physical tally,...,R2 yellow itchy zone all correctsort,R2 red prevention zone all correctsort,R2 green prevention zone all correctsort,R2 yellow prevention zone all correctsort,R2 red robot zone all correctsort,R2 green robot zone all correctsort,R2 yellow robot zone all correctsort,R2 red cleanup zone all correctsort,R2 green cleanup zone all correctsort,R2 yellow cleanup zone all correctsort
Condition,,,,,,,,,,,,,,,,,,,,,
all,29.4,27.5,48.5,34.0,41.5,30.0,46.0,42.5,4.2,0.9,...,0.0,9.8,15.6,15.8,2.1,4.1,3.2,0.4,1.0,0.5
control,31.6,31.2,32.5,32.0,35.0,46.5,43.0,39.5,2.4,1.1,...,0.3,6.1,15.9,13.3,2.4,4.3,4.3,1.0,2.1,1.4
visual,10.2,28.4,59.5,28.5,54.5,37.5,56.0,48.0,3.9,0.8,...,0.0,2.6,3.6,3.0,1.0,0.8,2.4,0.3,1.3,0.5
written,10.8,25.3,43.5,32.0,45.0,34.0,43.0,38.5,3.2,1.3,...,0.2,3.4,6.5,5.0,0.3,0.2,0.8,0.2,0.4,0.2

In [28]:
# Which method to use for which column
df.groupby("Condition").agg({"NASA overall" : "mean", "G1 Total" : "mean", "G2 Total" : "mean"})

           NASA overall  G1 Total  G2 Total
Condition
all           43.933217      36.0      43.5
control       42.733090      35.1      37.6
visual        54.066600      42.5      47.9
written       42.466563      42.6      43.1

In [34]:
df.groupby("Robot interaction").describe()

                     ID                                                       \
                  count       mean        std   min   25%   50%    75%   max
Robot interaction
0                   9.0  20.444444  13.426756   2.0  11.0  23.0  32.00  40.0
02-Jan              7.0  24.857143   8.375133  14.0  18.5  26.0  29.50  38.0
05-Feb              5.0  13.800000  12.316655   1.0   8.0   9.0  18.00  33.0
10+                18.0  20.611111  12.127455   3.0  10.5  20.0  30.25  39.0
10-May              1.0  22.000000        NaN  22.0  22.0  22.0  22.00  22.0

                    Age             ... R2 green cleanup zone all correctsort  \
                  count       mean  ...                                   75%
Robot interaction                   ...
0                   9.0  31.111111  ...                                  2.00
02-Jan              7.0  33.571429  ...                                  1.50
05-Feb              5.0  24.800000  ...                                  0.00
10+                18.0  25.611111  ...                                  1.75
10-May              1.0  24.000000  ...                                  0.00

                        R2 yellow cleanup zone all correctsort            \
                    max                                  count      mean
Robot interaction
0                   3.0                                    9.0  0.777778
02-Jan              8.0                                    7.0  1.142857
05-Feb              1.0                                    5.0  0.000000
10+                11.0                                   18.0  0.611111
10-May              0.0                                    1.0  0.000000


                        std  min  25%  50%  75%  max
Robot interaction
0                  1.641476  0.0  0.0  0.0  1.0  5.0
02-Jan             1.573592  0.0  0.0  0.0  2.0  4.0
05-Feb             0.000000  0.0  0.0  0.0  0.0  0.0
10+                1.460817  0.0  0.0  0.0  0.0  5.0
10-May                  NaN  0.0  0.0  0.0  0.0  0.0

[5 rows x 1288 columns]

In [32]:
df_gamescores = df[df["R1 avg dist prevent red"] != 0]
df_gamescores.groupby("Condition").describe()

             ID                                                  Age  \
          count  mean       std   min   25%   50%    75%   max count
Condition
all        10.0  29.4  5.481281  22.0  25.5  28.5  31.75  39.0  10.0
control    10.0  31.6  6.415260  21.0  27.0  33.5  35.75  40.0  10.0
visual      3.0  17.0  2.645751  15.0  15.5  16.0  18.00  20.0   3.0
written     3.0  18.0  1.000000  17.0  17.5  18.0  18.50  19.0   3.0

                      ... R2 green cleanup zone all correctsort        \
                mean  ...                                   75%   max
Condition             ...
all        27.500000  ...                                   1.0   3.0
control    31.200000  ...                                   2.0   8.0
visual     35.666667  ...                                   6.5  11.0
written    27.000000  ...                                   1.5   2.0

          R2 yellow cleanup zone all correctsort                           \
                                           count      mean       std  min
Condition
all                                         10.0  0.500000  1.269296  0.0
control                                     10.0  1.400000  1.776388  0.0
visual                                       3.0  1.666667  2.886751  0.0
written                                      3.0  0.666667  1.154701  0.0


           25%  50%   75%  max
Condition
all        0.0  0.0  0.00  4.0
control    0.0  1.0  1.75  5.0
visual     0.0  0.0  2.50  5.0
written    0.0  0.0  1.00  2.0

[4 rows x 1288 columns]